@model HomeBackProject.ViewModel.VMOthersSet

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_LogInOut.cshtml";
}


<div class="container-fluid m-4">
    <div class="row">
        <div class="col-lg-2">
            <div class="list-group">
                <a class="list-group-item list-group-item-info active disabled text-center p-3 fs-4" aria-current="true">
                    其他相關設定
                </a>
                <a class="list-group-item list-group-item-action text-center p-3" href="/OthersSet/index?id=Rank">會員身份設定</a>
                <a class="list-group-item list-group-item-action text-center p-3" href="/OthersSet/index?id=Program">會員方案設定</a>
                <a class="list-group-item list-group-item-action text-center p-3" href="/OthersSet/index?id=Home">房屋類型設定</a>
                <a class="list-group-item list-group-item-action text-center p-3" href="/OthersSet/index?id=Territory">土地類型設定</a>
                <a class="list-group-item list-group-item-action text-center p-3" href="/OthersSet/index?id=Car">車位類型設定</a>
                <a class="list-group-item list-group-item-action text-center p-3" href="/OthersSet/index?id=Sale">銷售類型設定</a>
                <a class="list-group-item list-group-item-action text-center p-3" href="/OthersSet/index?id=AD">廣告設定</a>
                <a class="list-group-item list-group-item-action text-center p-3" href="/OthersSet/index?id=City">縣市設定</a>
            </div>
        </div>
    </div>
</div>

