
@{
    ViewBag.Title = "LogIn";
}

<h2>LogIn</h2>

<form action="@Url.Action("LogIn")" method="post">
    id : <input type="text" name="id" value="id" />
    Name : <input type="password" name="name" value="name" />
           <input type="submit" name="go" value="登入" />
           <hr />
    @ViewBag.Msg
</form>

